<IfModule mod_rewrite.c>
force ssl
RewriteCond     %{SERVER_PORT} ^80$
RewriteRule     ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /tabela
  RewriteRule ^tabela/index\.html$ - [L]
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /tabela/index.html [L]
</IfModule>
